{% extends "menu/base.html" %} 
{% block content %}
<style>
    body{
        /* background-color: rgb(254, 215, 222); */
    }
    .inputs-div{
        background-size: cover;
        background-color: white;
        border: none;
        width: 630px; 
        height: 300px;
        border-radius: 17px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        transition: 0.2s;
        margin-left: 450px;
        margin-top: 50px;
        padding-left: 65px;
        padding-top: 40px;
        padding-bottom: 30px;
        transition: 0.9s;
    }
    .inputs{
        background-color:  #D0EFF4;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        border-color: rgb(163, 163, 163); 
        border-style: solid;
        border-width: 2px; 
        margin-bottom: -30px;
        border-radius: 10px;
        width: 300px;
        padding: 13px;
        transition: 0.9s;
        /* display: flex; */
        /* position: absolute; */
    }
    .submit{
        margin-left: 355px;
        margin-top: -155px;
        border: none;
        color: white;
        font-size:larger;
        font-weight:500;
        background-color: #e62498;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        position: absolute;
        border-radius: 30px;
        height: 55px;
        width: 160px;
        justify-content: center;
        padding-top: 12px;
        display: flex;
        transition: 0.5s;
        cursor: pointer;
    }
    .submit:hover{
        transform: translateY(-5px);
    }
    .inputs:hover{
        transform: translateY(-5px); 
    }
    .inputs-div:hover{
        transform: translateY(-5px); 
    }
</style>

<!-- <div class="inputs-div">

    <form action="" method="post" class="inputs"> 
        {{form.as_table}}
        <button class="submit">
            Submit
        </button> 
    </form>

</div> -->

<form method="post">
    {% csrf_token %}
    <div class="inputs-div">
        <input type="text" name="username" placeholder="username..." required class="inputs"> <br>
        <br>
        <input type="password" name="password" placeholder="password..." required class="inputs"> <br>
        <br>
        <input type="text" name="phone number" placeholder="phone number..." required class="inputs"> <br>
        <br>
        <select name="sex" required class="inputs" style="cursor: pointer;"> <br>
            <option value="">Select sex...</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="none">None</option>
        </select> <br>
        <br>
        <button class="submit">Submit</button>
    </div>


</form>
{% endblock %}